@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px
}

.react-logo {
  animation: rotate 10s linear infinite;
}

.react-logo:hover {
  animation: pulse 1s linear infinite;
}